body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #fff;
    overflow: hidden;
}

.container{
    display: flex;
    flex-direction: column;
    background: url("img/bg.jpg") no-repeat center center/cover;
    height: 100vh;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.animated{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 6rem;
    background: url("img/bg-text.jpg") no-repeat;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: moveBg 5s linear infinite;
    -webkit-animation: moveBg 5s linear infinite;
}

.container p{
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}

/* Text Background Animation */

@keyframes moveBg{
    0% {
        background-position: 0% 30%;
    }
    100%{
        background-position: 100% 50%;
    }
}